go 1.21.6

use (
	"./01. Pacotes"
	"./17. MiniAplicacao"
	"./19. Testes Automatizados/19.1 Introducao"
	"./19. Testes Automatizados/19.2 Avancado"
	"./23. Data Base"
	"./24. CRUD basico"
	"./25. Devbook/api"
	"./25. Devbook/webapp"
  "./_testAuth"
)
