go 1.26.2

use (
	./01.hello-world
	./02.slices-arrays-ponteiros/02.01.introducao
	./02.slices-arrays-ponteiros/02.02.copy
	./02.slices-arrays-ponteiros/02.03.deep-copy
	./02.slices-arrays-ponteiros/02.04.ponteiros
	./02.slices-arrays-ponteiros/02.05.deep-copy-ponteiro
	./02.slices-arrays-ponteiros/02.06.map-filter-reduce
	./03.maps/03.01.introducao
)
